[submodule "HdrHistogram_c"]
	path = HdrHistogram_c
	url = git@github.com:fcostaoliveira/HdrHistogram_c.git
[submodule "hdrhistogram-go"]
	path = hdrhistogram-go
	url = git@github.com:HdrHistogram/hdrhistogram-go.git
[submodule "HdrHistogram_rust"]
	path = HdrHistogram_rust
	url = git@github.com:fcostaoliveira/HdrHistogram_rust.git
